@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu, ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  /* Fonts */
  --font-family: "Exo 2", sans-serif;
  /* Colors text */
  --text-white:#fff;
  --text-color:#5C798B;
  --text-gray:#D5DFE4;
  /* background colors */
  --main-bg:#f5f5f5;
  --white-bg:#fff;
  --blue-bg:#0F6C8C;
  --viber-bg:#73EF12;
  --telegram-bg:#3D81FA;
  --viber-bg-hover:#59bd0d;
  --telegram-bg-hover:#225cc0;
  /* CTA */
  --cta-red:#BB0B2B;
}

/* Media */
html body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  overflow-x: hidden;
  color: var(--text-color);
  font-family: var(--font-family);
  max-width: 100%;
  min-width: 100%;
  font-weight: 400;
  background: var(--main-bg);
}

html body .container {
  max-width: 100%;
  width: 100%;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (min-width: 768px) {
  html body .container {
    width: 768px;
  }
}
@media only screen and (min-width: 960px) {
  html body .container {
    width: 960px;
  }
}
@media only screen and (min-width: 1200px) {
  html body .container {
    width: 1200px;
  }
}
@media only screen and (min-width: 1320px) {
  html body .container {
    width: 1320px;
  }
}
.icon {
  max-width: 40px;
  max-height: 40px;
}

/* Компоненты */
.header {
  padding: 25px 0;
  background: var(--white-bg);
}
.header .header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .header__inner-logo {
  width: 165px;
}
.header .header__inner-logo img {
  display: block;
  width: 100%;
  height: auto;
}
.header .header__inner-catalog {
  width: 200px;
}
.header .header__inner-catalog .cta {
  display: inline-block;
  background: var(--cta-red);
  color: var(--text-white);
  font-size: 1rem;
}

.footer {
  background: var(--blue-bg);
}
.footer .footer__navigation {
  padding: 50px 0 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}
.footer .footer__navigation-item {
  width: 20%;
}
.footer .footer__navigation-item:first-child {
  width: 15%;
}
.footer .footer__navigation-item:last-child {
  width: 25%;
}
.footer .footer__navigation-item h3 {
  font-weight: 700;
  font-size: 1rem;
  color: var(--text-white);
  padding: 0 0 30px;
}
@media only screen and (max-width: 1299px) {
  .footer .footer__navigation-item h3 {
    font-size: 0.875rem;
    padding: 0 0 25px;
  }
}
.footer .footer__navigation-item ul li {
  padding: 0 0 15px;
}
.footer .footer__navigation-item ul li a {
  text-decoration: none;
  color: var(--text-gray);
  position: relative;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  font-size: 1rem;
}
.footer .footer__navigation-item ul li a:before {
  content: "";
  width: 0px;
  height: 1px;
  display: block;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: var(--text-gray);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.footer .footer__navigation-item ul li a:hover {
  color: var(--text-white);
}
.footer .footer__navigation-item ul li a:hover:before {
  width: 100%;
  background: var(--text-white);
}
@media only screen and (max-width: 1299px) {
  .footer .footer__navigation-item ul li a {
    font-size: 0.875rem;
  }
}
.footer .footer__navigation-item .footer__navigation-address {
  color: var(--text-gray);
  font-size: 1rem;
  margin: 0 0 15px;
  padding: 0 0 0 30px;
  position: relative;
}
.footer .footer__navigation-item .footer__navigation-address a {
  color: var(--text-gray);
  text-decoration: none;
  position: relative;
}
.footer .footer__navigation-item .footer__navigation-address a:before {
  content: "";
  width: 0px;
  height: 1px;
  display: block;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: var(--text-gray);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.footer .footer__navigation-item .footer__navigation-address a:hover {
  color: var(--text-white);
}
.footer .footer__navigation-item .footer__navigation-address a:hover:before {
  width: 100%;
  background: var(--text-white);
}
.footer .footer__navigation-item .footer__navigation-address .icon {
  position: absolute;
  top: 50%;
  left: 0px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 20px;
  height: 20px;
}
@media only screen and (max-width: 1299px) {
  .footer .footer__navigation-item .footer__navigation-address {
    font-size: 0.875rem;
  }
}
.footer .footer__navigation-item .footer__navigation-description {
  font-size: 0.75rem;
  color: var(--text-gray);
  line-height: 1.5em;
}
@media only screen and (max-width: 1299px) {
  .footer .footer__navigation-item .footer__navigation-description br {
    display: none;
  }
}
.footer .footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0 10px;
  border-top: 1px solid #3A7395;
}
.footer .footer__copyright-item {
  width: 50%;
  color: var(--text-white);
  font-size: 1rem;
}
.footer .footer__copyright-item:first-child {
  width: 40%;
}
@media only screen and (max-width: 1199px) {
  .footer .footer__copyright-item:first-child {
    width: 30%;
  }
}
.footer .footer__copyright-item:last-child {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
@media only screen and (max-width: 1199px) {
  .footer .footer__copyright-item:last-child {
    width: 70%;
  }
}
.footer .footer__copyright-item .footer__copyright-police a {
  text-decoration: none;
  color: var(--text-white);
  position: relative;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  font-size: 1rem;
}
.footer .footer__copyright-item .footer__copyright-police a:before {
  content: "";
  width: 0px;
  height: 1px;
  display: block;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: var(--text-white);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.footer .footer__copyright-item .footer__copyright-police a:hover:before {
  width: 100%;
}
@media only screen and (max-width: 1299px) {
  .footer .footer__copyright-item .footer__copyright-police a {
    font-size: 0.875rem;
  }
}
.footer .footer__copyright-item .footer__copyright-banks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .footer__copyright-item .footer__copyright-banks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--text-white);
  font-size: 1rem;
  line-height: 1.2em;
}
.footer .footer__copyright-item .footer__copyright-banks img {
  width: 160px;
  height: auto;
  margin: 0 0 0 15px;
}
@media only screen and (max-width: 1299px) {
  .footer .footer__copyright-item .footer__copyright-banks {
    font-size: 0.875rem;
  }
}
.footer .footer__copyright-item .footer__copyright-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .footer__copyright-item .footer__copyright-social a {
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.footer .footer__copyright-item .footer__copyright-social a:first-child {
  margin: 0 10px 0 0;
  background: var(--viber-bg);
}
.footer .footer__copyright-item .footer__copyright-social a:last-child {
  background: var(--telegram-bg);
}
.footer .footer__copyright-item .footer__copyright-social a .icon {
  width: 13px;
  height: 13px;
}
.footer .footer__copyright-item .footer__copyright-social a:first-child:hover {
  background: var(--viber-bg-hover);
}
.footer .footer__copyright-item .footer__copyright-social a:last-child:hover {
  background: var(--telegram-bg-hover);
}
@media only screen and (max-width: 1299px) {
  .footer .footer__copyright-item {
    font-size: 0.875rem;
  }
}/*# sourceMappingURL=main.css.map */