.profile-card {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;


	&__left {
		 display: flex;
		 align-items: center;
	}

	&__avatar {
		position: relative; 
		 margin-right: 60px;

		 img:first-child {
			  width: 100%;
			  height: 100%;
			  object-fit: cover;
			 
		 }

	
	}

	&__info {
		 display: flex;
		 flex-direction: column;
	}

	&__name {
	align-items: center;
		 color: var(--text-back);
		 font-size: rem(24px);
		 font-weight: bold;
	}

	&__loyalty-card {
		 background-color: #ffffff;
		 padding: 15px 18px;
		 border-radius: 28px;
		 border: 1px solid #f0f0f4;
		 margin: 16px 0;
		 color: var(--text-back);
		 font-size: rem(15px);
	}

	&__button {
		 background-color: #BB0B2B;
		 color: #ffffff;
		 border: none;
		 padding: 10px 10px;
		 max-width: 220px;
		 border-radius: 5px;
		 cursor: pointer;
		 font-size: rem(16px);
		 transition: ease 0.3s;
		 display: inline-block;
		 &:hover {
			opacity: 0.8;
		 }
	}

	&__right {
		 display: flex;
		 flex-direction: column;
		 align-items: center;
		 background-color: #ffffff;
		 padding: 15px 25px;
		 border-radius: 10px;
	}

	&__points {
		 text-align: center;
		 font-size: rem(20px);
		 color: #94959B;

		 &-value {
			  font-size: rem(45px);
			  font-weight: bold;
			  color: #1B78AF;
			  padding-top: 10px;
		 }
	}
}
.profile-card__avatar-avatar {
	width: 150px;
	 height: 150px;
	background-color: #fff;
	
		 border-radius: 50%;
		 overflow: hidden;
}
.profile-card__settings-icon {
	position: absolute;
	top: 0;
	right: -15px;
	width: 24px; 
	height: 24px; 
	color: #1B78AF;
}

/*navigation*/
.profile-nav {
	display: flex;
	gap: 36px;
	justify-content: center;
	align-items: center;
	background-color: #fff; 
	padding: 20px 24px;
	border-radius: 15px;
	box-sizing: border-box;

	&__item {
		 display: flex;
		 flex-direction: row;
		 align-items: center;
		 text-decoration: none;
		 color: #658092; 
		 font-size: rem(18px);
		 transition: all 0.3s;
		 font-weight: 500;
		 position: relative;
		 box-sizing: border-box;
		 border: 1px solid transparent; 
		 padding: 10px 30px 10px 10px;

		 &:first-child {
			  margin-left: 0;
		 }

		 img {
			  width: 24px; 
			  height: 24px; 
			  margin-right:  10px;
		 }

		 &--active {
			  background-color: #F0F1F1; 
			  border: 1px solid #F9FAFB;
			  color: #131D2A; 
		 }

		 &:hover {
			  background-color: #F0F1F1; 
			  border: 1px solid #F9FAFB; 
			  color: #131D2A; 
		 }
		 @media only screen and (max-width: $desktop) {
			font-size: rem(16px);
			padding: 10px 25px 10px 10px;
		}
		@media only screen and (max-width: $smDesktop) {
			font-size: rem(16px);
			padding: 0;
		}		
	}
	@media only screen and (max-width: $smDesktop) {
		gap: 15px;
	}		
}

#account-best .cards_section {
	flex-wrap: wrap;
	&::after {
		content: '';
		flex: 1 0 calc(25% - 30px);
		box-sizing: border-box;
  }
}
#account-best .card__item {
	flex: 1 0 calc(25% - 30px); 
	box-sizing: border-box;
	max-width: calc(25% - 30px);
}

#history-best .cards_section {
	flex-wrap: wrap;
	
	
}
#history-best .card__item {
	flex: 1 0 calc(25% - 30px); 
	box-sizing: border-box;
}

#history-best .card__item--empty {
	background-color: transparent;
	border: none;
	pointer-events: none; 
}


/*account history*/
.date-picker {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: rem(16px);
	font-weight: 600;
	color: var(--text-black);

	&__fields {
		 display: flex;
		 align-items: center;
		 gap: 14px;
		 padding-left: 68px;
	}

	&__label {
		 font-size: rem(16px);
		 font-weight: 600;
		 
		 &--margin {
			margin-left: 16px;
		 }
	}
	

	&__input-wrapper {
		 position: relative;
	}

	&__input {
		 background-color: #fff;
		 border: 1px solid #DBDBDB;
		 padding: 12px 5px 12px 16px;

		 font-size: rem(12px);
		 color: #5C798B;
		 border-radius: 5px;
	}

	&__icon {
		 position: absolute;
		 right: 16px;
		 top: 50%;
		 transform: translateY(-50%);
		 width: 16px; 
		 height: 16px; 
	}
}

.history {

	&__title {
		font-size: rem(20px);
		color: var(--text-black);
		display: flex;
		flex-direction: column;
		font-weight: bold;
		
		span {
			font-size: rem(15px);
			margin-bottom: 15px;
			font-weight: normal;
		}
	}
}

/*reviews*/
.account-reviews .review_section_block .review_section_block_list {
	width: 100%;
}
.review_section_block .review_section_block_list .review_section_block_list_inner.comment {
	margin-left: 110px;
	
}
.review_section_block_list_inner.comment {
	position: relative;
	}

.review_section_block_list_inner.comment::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 7px; 
	background-color: #ccc; 
	margin-left: -110px;
}
.reviews_headline_item_button {
	color: #3E5067;
	font-size: 12px;
	text-decoration: none;
	margin-top: 14px;
	border: 1px solid #AAB7BF;
	padding: 5px 15px;
	display: inline-block;
	transition: ease 0.3s;
}
.reviews_headline_item_button:hover {
	background-color: #AAB7BF;
	color: #fff;
}
