.settings {
	display: flex;
	gap: 304px;
	&__left {
		width: 60.077519%; /* 775px/1290 */
	}
	&__form {
		margin-top: 30px;
      display: flex;
      flex-direction: column;
	}

	&__label {
		margin-bottom: 10px;
      font-size: 15px;
      color: #AAB7BF;
	}

	&__input {
		margin-bottom: 22px;
		padding: 15px;
		border: 1px solid #F0F0F4;
		font-size: 15px;
		color: #75767D;
			 
	}

	&__checkbox-container {
		display: flex;
      align-items: center;
      margin-bottom: 15px;
	}

	&__checkbox-container {
		display: flex;
		align-items: center;
		margin-top:20px;
  }

  &__checkbox {
		display: none;

		&:checked + .settings__checkbox-label::before {
			 background-color: gray;
		}
  }

  &__checkbox-label {
		position: relative;
		padding-left: 100px;
		cursor: pointer;
		font-size: 14px;
		color: #4A4A4E;
		line-height: 1.5em;

		&::before {
			 content: '';
			 position: absolute;
			 left: 0;
			 top: 50%;
			 transform: translateY(-50%);
			 width: 74px;
			 height: 30px;
			 border: 1px solid #E3E3E8;
			 border-radius: 30px;
			 background-color: #E3E3E8;
			 transition: background-color 0.3s;
		}

		&::after {
			 content: '';
			 position: absolute;
			 left: 0px;
			 top: 50%;
			 transform: translateY(-50%);
			 width: 32px;
			 height: 30px;
			 border-radius: 50%;
			 background-color: var(--text-white);
			 border: 1px solid #ccc;
			 transition: left 0.3s;
		}
  }

  &__checkbox:checked + .settings__checkbox-label::after {
		left: 41px;
  }


	&__button {
		background-color: #1B78AF;
		color: white;
		font-size: 17px;
		padding: 15px 18px; /* 15px сверху и снизу, 18px слева и справа */
		border: none;
		border-radius: 5px;
		cursor: pointer;
		display: inline-block;
		transition: ease 0.3s;
		margin-top: 20px;
		&:hover {
			opacity: 0.8;
		}
	}
	@media only screen and (max-width: $desktop) {
		gap: 150px;
	}
	@media only screen and (max-width: $smDesktop) {
		gap: 100px;
	}
}

.settings__input-icon {
	position: relative;
	padding-right: 30px; 
	background: url('../img/account/eye.svg') no-repeat;
	background-position: calc(100% - 15px) center;
	background-size: 16px 16px; 
	background-color: #fff ;
}



.container-button {
	width: max-content;
}

.circle {
	width: 210px;
	height: 210px;
	border-radius: 50%;
	background-color: var(--text-white);
	margin-bottom: 22px;
}

input[type="file"] {
	display: none;
}

.custom-file-upload {
	display: inline-block;
	margin-left: 30px;
	padding: 15px 18px;
	cursor: pointer;
	border: 1px solid #AAB7BF;
	border-radius: 5px;
	background-color: #fff;
	color: #5C798B;
	font-size: 17px;
	text-align: center;
	transition: ease 0.3s;
}
.custom-file-upload:hover {
	background-color: #E3E3E8;
}

/*Bank Card*/
.bankcard {
	display: flex;
	margin-top: 40px;
	justify-content: center;
	
	&__items {
	background-color: #F0F0F4;
	border: 1px solid #E3E3E8;
	border-radius: 15px;
	padding: 20px 44px 60px ;
	margin-right: 42px;
		&:first-child
			{
			padding: 80px 38px 60px ;
			@media only screen and (max-width: $desktop) {
				padding: 80px 38px 60px ;
			}
			@media only screen and (max-width: $smDesktop) {
				padding: 80px 44px 60px ;
				min-width: 130px;
			}
			}
			&:last-child {
				background-color: #fff;
				padding: 55px 55px;
				margin-right: 0;
				@media only screen and (max-width: $desktop) {
					
					
				}
				@media only screen and (max-width: $smDesktop) {
					
					padding: 55px 20px ;
				}		
				
			}
			@media only screen and (max-width: $desktop) {
				margin-right: 20px;
				padding: 20px 44px 60px ;
				
			}
			@media only screen and (max-width: $smDesktop) {
				margin-right: 15px;
				padding: 20px 44px 20px ;
			}		

	}
	&__item {
		display: flex;
		flex-direction: column;
		font-size: rem(24px);
		color: #75767D;
		font-weight: 600;
		
			img {
				width: fit-content;
				margin-bottom: 40px;
				margin-left: auto;
				margin-right: -20px;
			}
			@media only screen and (max-width: $desktop) {
				font-size: rem(18px);
			}
			@media only screen and (max-width: $smDesktop) {
				font-size: rem(15px);
			}
	}
}
.bankcard-plus {
	display: flex;
	
}
.bankcard__circle {
	width: 60px;
	height: 60px;
	border-radius: 50%; 
	border: 2px solid #DDDDDD;
	background-color: #FAFAFA; 
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.3s ease;
	&:hover {
		background: #DDDDDD;
	}
	&::after,
	&::before {
	  content: '';
	  display: block;
	  position: absolute;
	  background-color: red; 
	}
 
	&::after {
	  width: 28px; 
	  height: 2px; 
	}
 
	&::before {
	  width: 2px; 
	  height: 28px; 
	}
}
.bankcard__text {
	color: #4A4A4E;
	font-size: rem(15px);
	font-weight: 600;
	line-height: 1.5em;
	margin-top: 5px;
	margin-left: 20px;
}


