.region_hero{
	background: #5C798B;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	@media only screen and (max-width: 1599px) {
		background-position: 80%;
	}
	@media only screen and (max-width: $desktop) {
		background-position: 50%;
	}
	@media only screen and (max-width: $smDesktop) {
		background-position: 59%;
	}
	
}
.reg .breadcrumbs{
	ul li a{
		color: var(--text-semi-gray);
	}
}




.region-v3-herotext {
	
	&__title {
		text-align: center;
		margin: 60px 0;
		font-family: var(--font-family);
		color: #161616;
		font-weight: 500;
		font-size: rem(48px);
		text-transform: uppercase;
	}

	&__text {
		font-family: var(--font-family);
		color: var(--text-semi-gray);
		font-size: rem(16px);
		line-height: 1.5em;
		font-weight: 400;
	
		text-align: center;
		@media only screen and (max-width: $smDesktop) {
			br{
				display: none;
			}
		}
		&.region-text-color {
			color: var(--text-color);
		}
	
	}

	&__link {
		text-decoration: none;
		color: var(--text-blue);
		font-family: var(--font-family);
		font-size: rem(16px);
		transition: ease 0.3s;
		display: inline-block;
		margin-top: 30px;
		&:hover {
			color: var(--text-semi-gray);
			text-decoration: underline;
		}
	}
}
.region-v3-herotext__image {
	display: block;
	margin: 60px 0;

	img{
		width: 100%;
		height: auto;
		border-radius: 10px;
		display: block;
	}
}
.region-v3-information{
	margin: 60px 0 20px;
	
	&__inner{
		 font-size:rem(16px);
		 line-height: 1.5em;
		 color: var(--text-color);
		 img {
			display: block;
			width: auto;
		 }
		 h3 {
			margin: 60px 0;
			font-family: var(--font-family);
			color: #161616;
			font-weight: 500;
			font-size: rem(48px);
			text-transform: uppercase;
		 }
		 p {
			margin-top: 34px;
			font-size: rem(18px);
			line-height: 1.5em;
			@media only screen and (max-width: $smDesktop) {
				br{
					display: none;
				}
			}
		 }
	}
	
}
.region-v3-information-pd {
	display: flex;
	gap: 40px;
	padding: 40px 0;
	justify-content: space-between;
	box-sizing: border-box;
	align-items: center;
	
}
.region-v3-information__inner{
	width: 50%;
}
.region-information__img{
	width: 50%;
}
.region-v3-information__img-img {
	border-radius: 8px;
	width:100%;
	height:auto;
	display: block;
}


.region-flex {

	&__items {
		display: flex;
		gap: 40px;
	}

	&__item {
		background: #fff;
		border-radius: 15px;
		 border:1px solid #F2F2F2;
		 padding: 40px 40px;
		 img {
			border-radius: 8px;
			width: 100%;
		 }
		 h3 {
			margin: 40px 0 24px;
			font-family: var(--font-family);
			color: #161616;
			font-weight: 600;
			font-size: rem(28px);
		 }
		 p {
			color: var(--text-color);
			font-size: rem(16px);
			line-height: 1.4em;
		 }
		 @media only screen and (max-width: $smDesktop) {
			padding: 15px 15px;
			gap: 30px;
		}
	}
}
.flex-direction {
	flex-direction: row-reverse;
}
.region-information-pd.flex-direction {
	flex-direction: row-reverse;
	display: flex;
}

.grid-container-v2 {
	row-gap: 30px;
	column-gap: 40px;
	display: grid;
	grid-template: repeat(2, 1fr) / repeat(3, minmax(100px, 1fr));
}


.grid-container-v2__image {
	width: 100%;
	height: 100%;
	aspect-ratio: 1 / 1;
	object-fit: cover;
}

	
	.grid-container-v2__item:nth-child(2) {
		grid-column: span 2;
		grid-row: span 2;
	}
.region-hero-logo {
	display: block;
	margin: 0 auto;
	padding-top: 20px;
	max-width: 400px;
	height: auto;
	width:100%;
}

.region-v3-herotext_items {
	display: flex;
	gap: 70px;
	
	@media only screen and (max-width: $smDesktop) {
		gap: 40px;
	}
}
.region-v3-herotext__text.text-align {

	text-align: left;
	flex: 1;
}

