.breadcrumbs{
	ul{
		 display: flex;
		 justify-content: flex-start;
		 gap:8px;
		 padding: 11px 0;
		 li{
			  font-weight: 500;
			  font-size: rem(12px);
			  color: var(--text-light-gray);
			  a{
					font-size: rem(12px);
					color: var(--text-light-gray);
					text-decoration: none;
					position: relative;
					&:before{
						 content:'';
						 width: 0px;
						 height:1px;
						 display: block;
						 position: absolute;
						 top:100%;
						 left:50%;
						 transform: translateX(-50%);
						 background: var(--text-light-gray);
						 transition: 0.3s ease;
					}
					&:hover{
						 &:before{
							  width:100%;
						 }
					}
			  }
		 }
	}
}

.coctails-head__baner {
	min-height: 398px;
	overflow: hidden;
	border-radius: 15px;
	background: linear-gradient(to right bottom, #82B0B5 600px, transparent 600px); 
}

.coctails-head__baner_container {
	position: relative;
	
}

.text-container {
	width: calc(100% - 300px); 
	background-color: #82B0B5; 
	padding: 73px 0 65px 53px; 
	float: left; 
	max-width: 480px;
}

.image-container {
	position: absolute; 
	top: 0px; 
	right: -1px; 
	width: 58%; 
	height: 401px; 
	background-image: url('../img/cocktail/cocktail_baner.png'); 
	clip-path: polygon(100% 0, 100% 100%, 0 100%, 20% 0); 
	z-index: 1; 
}

.coctails-banner-title {
	font-family: var(--font-family);
	color: var(--text-white);
	font-size: rem(48px);
	font-weight: bold;
}

.coctails-banner-text {
	margin-top: 24px; 
	font-family: var(--font-family);
	color: var(--text-white);
	font-size: rem(17px);
	max-width: 375px;
	line-height: 1.2;
}

.coctails-banne-button {
	margin-top: 40px;
	display: inline-block;
	padding: 10px 20px;
	background-color: #fff;
	color: var(--text-back);
	text-decoration: none;
	border-radius: 5px;
	border: 1px inside #F0F0F4;
	transition: background-color 0.3s ease;
}

.coctails-banne-button:hover {
	background-color: #eee;
}
@media only screen and (max-width: $desktop) {
	.coctails-banner-title {
		font-size: rem(32px);
	}
}

.coctails-content {

	.filter-container {
		display: flex;
		justify-content: flex-end;
		column-gap: 18px;
		// &__filter {
		// }

		// &__brand {
		// }
}

	

	&__items {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__item {
		width: calc(33% - 33px);
		&.half {
			width: calc(50% - 44px);
			margin-top: 60px;
			margin-bottom: 40px;
	  }
	}
	&__more {
		display: block;
		text-decoration: none;
		background-color: var(--text-white);
		margin-top: 30px;
		width: 100%;
		border: 1px solid var(--white-ligh-bg);
		border-radius: 8px;
		padding: 15px 0;
		text-align: center;
		color: var(--text-semi-gray);
		font-size: rem(16px);
		transition: ease 0.3s;
		&:hover{
			background-color: var( --text-light-white);
		}
		&::after { 
			content: url('../img/arrow-down.svg');
			display: inline-block;
			margin-left: 15px;
			vertical-align: middle;
		}
	}
	

		
}
		.coctails-content-link {
			color:var(--text-blue);
			font-size: rem(14px);
			transition: 0.3s ease;
			position: relative;
			text-decoration: none;
			&:before{
				 content:'';
				 width: 100%;
				 height:1px;
				 display: block;
				 position: absolute;
				 top:100%;
				 left:50%;
				 transform: translateX(-50%);
				 background: var(--text-blue);
				 transition: 0.3s ease;
			}
			&:hover{
				 &:before{
					  width:0;
				 }
			}
	
		}
	

.coctail-title {
font-size: rem(48px);
font-family: var(--font-family) ;
color: var(--text-dark);
font-weight: 700;
margin: 40px 0;
}








.coctails-content-padding {
	padding: 40px 0;
	.pagination {
		margin-top: 40px;
		&__items {
			display: flex;
		justify-content: center;
		gap: 2px;
		}

		&__item {
			text-decoration: none;
		
		font-family: var(--font-family);
		font-size: rem(16px);
		color: var(--text-semi-gray);
		font-weight: 500;
		transition: 0.3s;
		
		}

		&__link {
			text-decoration: none;
		padding: 12px 16px;
		font-family: var(--font-family);
		font-size: rem(16px);
		color: var(--text-semi-gray);
		font-weight: 500;
		transition: 0.3s;
		&:hover {
			background: var(--text-blue);
			padding: 12px 16px;
			color: var(--text-white);
			border-radius: 12px;
			font-weight: 500;
			transition: ease 0.3s;
		}
		}
}
.active {
	background: var(--text-blue);
			padding: 12px 16px;
			color: var(--text-white);
			border-radius: 12px;
			font-weight: 500;
			transition: ease 0.3s;
}

	@media only screen and (max-width: $desktop) {
		padding: 30px;
	}
}

.coctails-content-img-link {
	display: block;
	position: relative;
	.coctails-content-img {
		width: 100%;
		height: auto;
		border-radius: 15px;
		margin-bottom: 30px;
		display: block;
		transition: 0.3s ease;
	}
	&:hover{
		.coctails-content-img {
			box-shadow: 0 0 20px rgba(#000, 0.2); 
		}
		
	}
}
.half .coctails-content-date {
	display: none;
}
.coctails-content-date {
	font-size: rem(16px);
	color: var(--text-strong-gray);
	font-weight: 400;
}
.coctails-content-title {
	margin: 0;
	padding: 10px 0;
}
.coctails-content-title-link {
	line-height: 1.1em;
	text-decoration: none;
	font-weight: 600;
	font-size:rem(28px);
	color:var(--text-dark);
	transition: 0.3s ease;
	background: -webkit-gradient(linear, left top, right top, from(currentColor), to(currentColor));
    background: linear-gradient(to right, currentColor 0%, currentColor 100%);
    background-size: 0px 1px;
    background-position: 0 95%;
    -webkit-transition: background-size 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
    transition: background-size 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
    background-repeat: no-repeat;
	&:hover{
		color: var(--text-dark);
		background-size: 100% 1px;
	}
	@media only screen and (max-width: $smDesktop) {
		font-size:rem(24px);
    }
}


.coctails-content-desc {
	font-size: rem(16px);
	color: var(--text-strong-gray);
	font-weight: 400;
	margin-bottom: 10px;
	line-height: 1.5em;
}