.cocktail-block {

	&__item {
		display: flex;
		gap: 130px;
		justify-content: space-between;
		
	}
	

	&__text {
		font-family: var(--font-family);
		flex: 1;
	
		&_title {
			font-weight: 600;
			font-size: rem(36px);
			color: var(--text-dark);
		}

		&_view {
			font-size: rem(15px);
			color: #94959B;
			display: flex;
			column-gap: 15px;
			margin-top: 24px;
		}
		&_desc {
			margin-top: 40px;
			color: var(--text-color);
			font-size: rem(16px);
			line-height: 1.3em;
		}
	}

	&__image {
		width: auto;
		flex: 1;
		
		@media only screen and (max-width: $smDesktop) {
			width: 100%;
		}
			
	}
	&__image-img {

			border-radius: 10px;
		
	}

	@media only screen and (max-width: $desktop) {
		&__item {
			gap: 80px;
			justify-content: space-around;
			}
			&__image {
				width: 100%;
				flex: 1;
			}
			&__image-img {
					width: 100%;
					border-radius: 10px;
				
			}
			&__text {
				font-family: var(--font-family);
				flex: 1;
				
		// 
				
				&_desc {
					margin-top: 15px;
					
				}
		}
	}

	@media only screen and (max-width: $smDesktop) {
		&__item {
		gap: 40px;
		justify-content: space-around;
		}
		&__image {
			width: 100%;
			flex: 1;
		}
		&__image-img {
				width: 100%;
				border-radius: 10px;
			
		}
		&__text {
			font-family: var(--font-family);
			flex: 1;
			&_title {
				font-weight: 600;
				font-size: rem(22px);
				color: var(--text-dark);
			}
	
			&_view {
				font-size: rem(15px);
				color: #94959B;
				display: flex;
				column-gap: 15px;
				margin-top: 10px;
			}
			&_desc {
				margin-top: 15px;
				color: var(--text-color);
				font-size: rem(16px);
				line-height: 1.1em;
			}
	}
	}

}



.text_view_time::before {
	content: url('../img/clock.svg');
			display: inline-block;
			margin-right: 5px;
			vertical-align: middle;
}
.text_view_number::before {
	content: url('../img/eye.svg');
			display: inline-block;
			margin-right: 5px;
			vertical-align: middle;
}


.recept {
	margin-top: 100px;
	font-family: var(--font-family);
	&__title {
		color: var(--text-dark);
		font-size: rem(34px);
		font-weight: 600;
	}

	&__text {
		line-height: 1.5em;
		font-size: rem(16px);
		color: var(--text-color);
		margin-top: 40px;
	}

	&__items {
		margin-top: 40px;
		margin-left: 15px;
		color: var(--text-color);
		list-style-type: decimal
	}

	&__item {
		padding-left: 5px;
		font-weight: 600;
		line-height: 1.5em;
	}
}

.category {

	&__section {


		&_head {
			display: flex;
			justify-content: space-between;
			font-family: var(--font-family);
			margin-bottom: 40px;
		}

		&_title {
			font-size: rem(28px);
			font-weight: 600;
			color: var(--text-dark);
		}

		&_cart {
			text-decoration: none;
			background: var(--text-white);
			font-size: rem(17px);
			color: var(--text-color);
			border-radius: 8px;
			padding: 15px 24px;
			transition: ease 0.3s;
			&::before {
				content: url('../img/cart.svg');
			display: inline-block;
			margin-right: 10px;
			
			vertical-align: middle;
			}
			&:hover {
				background-color: var(--text-light-white);
			}
		}
	}
}

.coctail-recept-baner {
	display: block;
	margin: 0 auto;
	margin-top: 40px;
	
}


.blog-coctail .blog__items {
	gap: 66px;
	padding-top: 0;
}

.blog-coctail .blog__head-title {
	margin-bottom: 40px;
}

@media only screen and (max-width: $smDesktop) {
	.coctail-recept-baner {
		width: 100%;
		margin-top: 20px;
	}
}