.card__item.card__item-type_3{
    .card__item-discount{
        font-size:rem(16px);
        padding: 6px;
    }

    .card__item-title{
        font-weight:700;
        font-size: rem(18px);
        color: var(--text-dark);
        a{
            font-size: rem(18px);
            color: var(--text-dark);
        }
    }
    .card__item-sub-title{
        color: var(--text-semi-gray);
        font-size: rem(16px);
        padding: 10px 0 5px;
    }
    .card__item-sku{
        margin: 10px 0 0;
        background: url(../img/scanner.png) left center no-repeat;
        padding-left: 18px;
    }
    

    

    .old_price{
        font-size: rem(11px);
    }
    .card__item-data{
        .card__item-data-price{
            font-size: rem(20px);
        }
        .card__item-data-cta{
            .card_cta{
                font-size: rem(16px);
                padding: 8px 18px 10px;
            }
        }
    }

}

.categories .card__item.card__item-type_3 .card__item-title a{
    font-size: rem(18px);
}