.banner {
	color: var(--text-white);
	&__text {
		padding: 115px 120px;
		@media (max-width: $smDesktop) {
			padding: 75px 65px;
		}
		&_title {
			font-size: rem(40px);
			font-family: var(--font-family-baner);
			letter-spacing: 2px;
			@media (max-width: $smDesktop) {
				font-size: rem(36px);
			}
		}

		&_number {
			color: #D1FFAC;
			font-size: rem(128px);
			font-family: var(--font-family-baner);
			letter-spacing: 8px;
			@media (max-width: $smDesktop) {
				font-size: rem(100px);
			}
		}

		&_description {
			font-family: var(--font-family);
			letter-spacing: 1.5px;
			font-size: rem(24px);
			line-height: 1.2;
			font-weight: 600;
			@media (max-width: $smDesktop) {
				font-size: rem(20px);
			}
		}
	}
}

