.banner__promotion{
    border-top:1px solid var(--line-bg);

    .owl-carousel{
 		
        .item{
            border-radius: 15px;
            padding: 115px 130px;
            position: relative;
            min-height: 488px;
            box-sizing: border-box;
            h2{
                font-size:rem(64px);
                color:var(--white-bg);
                margin:0 0 15px 0;
                font-weight: 700;
            }
            p{
                font-size: rem(18px);
                color: #DDE8F0;
                line-height: 1.3em;
                margin:0 0 20px 20%;
            }
            .banner__promotion-price{
                position: absolute;
                min-width: 200px;
                bottom: 35px;
                right:40px;
                padding: 20px 30px;
                background: rgba(#E5ECF1, 0.7);
                border-radius: 15px;
                box-sizing: border-box;
                &_name{
                    text-align: center;
                    color: var(--text-vine);
                    font-size: rem(16px);
                    padding: 0 0 7px 0;
                }
                &_number{
                    text-align: center;
                    color: var(--text-red);
                    font-weight: 700;
                    font-size:20px;
                }
            }
            @media only screen and (max-width: $smDesktop) {
                padding: 90px 110px;
                min-height: 438px;
            }
        }
    }
}