.blog {

	&__head {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__head-title {
		margin: 0 0 15px;
	}

	 &__head-link {
		color:var(--text-color);
		font-size: rem(14px);
		transition: 0.3s ease;
		position: relative;
		text-decoration: none;
		&:before{
			 content:'';
			 width: 0;
			 height:1px;
			 display: block;
			 position: absolute;
			 top:100%;
			 left:50%;
			 transform: translateX(-50%);
			 background: var(--text-blue);
			 transition: 0.3s ease;
		}
		&:hover{
			 &:before{
				  width:100%;
			 }
		}
	}

	&__items {
		display: flex;
		gap: 26px;
		padding-top: 16px;
		
	}

	&__item {
		.blog-link {
			color:var(--text-blue);
			font-size: rem(14px);
			transition: 0.3s ease;
			position: relative;
			text-decoration: none;
			&:before{
				 content:'';
				 width: 100%;
				 height:1px;
				 display: block;
				 position: absolute;
				 top:100%;
				 left:50%;
				 transform: translateX(-50%);
				 background: var(--text-blue);
				 transition: 0.3s ease;
			}
			&:hover{
				 &:before{
					  width:0;
				 }
			}
		}
	}
}

.container-padding {
	background-color: var(--white-bg);
	border: 1px solid var(--line-bg);
	border-radius: 15px;
	padding: 40px;
	@media only screen and (max-width: $desktop) {
		padding: 30px;
	}
}

.blog-img-link {
	display: block;
	position: relative;
	.blog-img {
		width: 100%;
		height: auto;
		border-radius: 15px;
		margin-bottom: 30px;
		display: block;
		transition: 0.3s ease;
	}
	&:hover{
		.blog-img {
			box-shadow: 0 0 20px rgba(#000, 0.2); 
		}
		
	}
}

.blog-date {
	font-size: rem(16px);
	color: var(--text-strong-gray);
	font-weight: 400;
}
.blog-title {
	margin: 0;
	padding: 10px 0;
}
.blog-title-link {
	line-height: 1.1em;
	text-decoration: none;
	font-weight: 600;
	font-size:rem(28px);
	color:var(--text-dark);
	transition: 0.3s ease;
	background: -webkit-gradient(linear, left top, right top, from(currentColor), to(currentColor));
    background: linear-gradient(to right, currentColor 0%, currentColor 100%);
    background-size: 0px 1px;
    background-position: 0 95%;
    -webkit-transition: background-size 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
    transition: background-size 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
    background-repeat: no-repeat;
	&:hover{
		color: var(--text-dark);
		background-size: 100% 1px;
	}
	@media only screen and (max-width: $smDesktop) {
		font-size:rem(24px);
    }
}

.blog-desc {
	font-size: rem(16px);
	color: var(--text-strong-gray);
	font-weight: 400;
	margin-bottom: 10px;
	line-height: 1.5em;
}

