.buy-block {
	&__flex-pd {
		padding: 60px;
		display: flex;
		gap: 44px;
	}

	&_flex-title {
		margin-top: 0;
		margin-bottom: 40px;
	}

	

	&__flex-left {
		flex-basis: 55%;
	}

	&__flex-right {
		flex-basis: 45%;
	}
}
.buy-block__flex__items {
	list-style-type: disc;
	color: #5C798B;
	margin-left: 15px;
}
.buy-block__flex__item {
	margin-bottom: 8px;
	line-height: 22px;
}
.buy-block_svg{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	
	span{
		background-color: #BB0B2B;
		
		border-radius: 50%;
		 .icon-wine{
			  width:24px;
			  height:24px;
			  max-width: 50px;
			  max-height: 50px;
			  margin: 12px;
		 }
	
	
	}
}
.buy-block_svg-item {
	display: flex;
	gap: 22px;
	align-items: center;
	font-size: rem(16px);
	color: var(--text-dark);
	font-weight: 400;
}
.buy-block_svg-left li, .buy-block_svg-right li {
	margin-bottom: 20px;
}
.left-content {
	display: flex;
	column-gap: 40px;

}


