.category__section_inner{
    .section_category_tabs{
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        gap:30px;
        margin-bottom: 40px;
        .section_category_tabs-item{
            span{
                position: relative;
                top:-1px;
                cursor: pointer;
                color:var(--text-color);
                font-size:rem(20px);
                font-weight: 600;
                transition: 0.3s ease;
                &:hover{
                    color:var(--text-dark);
                }
                @media only screen and (max-width: $smDesktop) {
                    font-size:rem(18px);
                }
            }
            &.active span{
                font-weight: 600;
                color:var(--text-dark);
                font-size:rem(28px);
                @media only screen and (max-width: $smDesktop) {
                    font-size:rem(22px);
                }
            }
        }
        
    }

    .section_category_sub__tabs{
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        gap:10px;
        margin-bottom: 30px;
        &-item{
            background: var(--white-bg);
            font-size:rem(14px);
            color:var(--text-semi-gray);
            padding: 12px 24px;
            border-radius: 30px;
            border:1px solid var(--text-light-white);
            cursor: pointer;
            transition: 0.3s ease;
            &:hover{
                border:1px solid var(--orange-dark-bg);
                background: var(--orange-bg);
                color:var(--text-dark);
            }
            &.active{
                border:1px solid var(--orange-dark-bg);
                background: var(--orange-bg);
                color:var(--text-dark);   
            }
        }
    }


    .section_category_brands{
        .owl-categories{
            .item{
                padding: 5px;
                .category_brands_thumbnuil{
                    background: #F2F2F2;
                    border:1px solid var(--text-light-white);
                    padding: 2px;
                    border-radius: 20px;
                    transition: 0.3s ease;
                    img{
                        border-radius: 20px;
                    }
                }
                h3{
                    color: var(--text-back);
                    font-size:rem(14px);
                    margin: 10px 0 5px;
                    font-weight: 500;
                    text-align: center;
                }
                p{
                    color: var(--text-color);
                    font-size: rem(12px);
                    text-align: center;
                }
                &:hover{
                    cursor: pointer;
                    .category_brands_thumbnuil{
                        box-shadow: 0 0 5px rgba(#000, 0.2);
                        background: var(--main-bg);
                    }
                    
                }
            }

            .owl-prev{
                transform: translateY(0%) rotate(180deg);
                position: absolute;
                left: -6px;
                top: 44px;
                width:36px;
                height:36px;
                border: 1px solid #DBDBDB;
                
            }
            .owl-next{
                position: absolute;
                right: -6px;
                top: 44px;
                transform: translateY(0%);
                width:36px;
                height:36px;
                border: 1px solid #DBDBDB;
            }
        }
       
        
    }

    .show_tabs{
        transition: 0.3s ease;
        opacity: 0;
        height: 0;
        overflow: hidden;
        &.active{
            opacity: 1;
            height: auto;
            overflow: visible;
        }
    }
}