.page h1 {
	font-family: var(--font-family);
	color: var(--text-dark);
	font-size: rem(36px);
	font-weight: 600;
	margin: 60px 0 40px;

}
.page h2 {
	font-family: var(--font-family);
	color: var(--text-dark);
	font-size: rem(22px);
	font-weight: 600;
	margin: 60px 0 40px;
}
.page h3 {
	font-family: var(--font-family);
	color: var(--text-dark);
	font-size: rem(16px);
	font-weight: 600;
	margin: 60px 0 40px;
	
}

.page p {
	margin:0 0 20px;
	font-family: var(--font-family);
	font-size: rem(16px);
	color: var(--text-color);
	font-weight: 400;
	line-height: 1.5em;
}
.page a {
	text-decoration: none;
	color: var(--text-color);
	text-decoration: none;
	transition: 0.3s ease;
	background: -webkit-gradient(linear, left top, right top, from(currentColor), to(currentColor));
	background: linear-gradient(to right, currentColor 0%, currentColor 100%);
	background-size: 0px 1px;
	background-position: 0 95%;
	-webkit-transition: background-size 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
	transition: background-size 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
	background-repeat: no-repeat;
	&:hover{
		color: var(--text-dark);
		background-size: 100% 1px;
	}
}
.page a:hover {
	text-decoration: none;
}
.page ul {
	margin: 0 0 20px 20px;
	li{
		list-style: disc;
		font-family: var(--font-family);
		color: var(--text-color);
		font-size: rem(16px);
		font-weight: 400;
		line-height: 1.5em;
	}
}

.page ol li{
	margin: 0 0 20px 20px;
}
.page ol li {
	line-height: 1.5em;
	font-family: var(--font-family);
	color: var(--text-dark);
	font-size: rem(16px);
	font-weight: 600;
	list-style: decimal;
}

