.serving-wine {

	&__pd {
	}

	&__desc {
		line-height: 28px;
		color: #5C798B;
		font-size: rem(16px);
	}

	&__title {
		margin-top: 40px;
		margin-bottom: 20px;
		font-size: 20px;
		font-weight: 600;
		color: #212121;
	}
}
.container {
}
.section {

	&_headline {
	}
}
