.breadcrumbs{
	ul{
		 display: flex;
		 justify-content: flex-start;
		 gap:8px;
		 padding-top: 16px;
		 li{
			  font-weight: 500;
			  font-size: rem(12px);
			  color: var(--text-light-gray);
			  a{
					font-size: rem(12px);
					color: var(--text-light-gray);
					text-decoration: none;
					position: relative;
					&:before{
						 content:'';
						 width: 0px;
						 height:1px;
						 display: block;
						 position: absolute;
						 top:100%;
						 left:50%;
						 transform: translateX(-50%);
						 background: var(--text-light-gray);
						 transition: 0.3s ease;
					}
					&:hover{
						 &:before{
							  width:100%;
						 }
					}
			  }
		 }
	}
}

.news-head__baner {
	overflow: hidden;
	border-radius: 15px;
	background: linear-gradient(to right bottom, #78A4BE 600px, transparent 600px); 
}

.news-head__baner_container {
	position: relative;
	
}

.news-text-container {
	width: calc(100% - 300px); 
	background-color: #78A4BE; 
	padding: 73px 0 65px 53px; 
	float: left; 
	max-width: 480px;
	@media only screen and (max-width: $desktop) {
		padding: 45px 65px 55px; 

	}
}

.news-image-container {
	position: absolute; 
	top: 0px; 
	right: -1px; 
	width: 58%; 
	height: 401px; 
	background-image: url('../img/news/news_hero.png'); 
	clip-path: polygon(100% 0, 100% 100%, 0 100%, 20% 0); 
	z-index: 1; 
}

.news-banner-title {
	font-family: var(--font-family);
	color: var(--text-white);
	font-size: rem(48px);
	font-weight: bold;
}

.news-banner-text {
	margin-top: 24px; 
	font-family: var(--font-family);
	color: var(--text-white);
	font-size: rem(17px);
	max-width: 375px;
	line-height: 1.2;
}

.news-banne-button {
	margin-top: 40px;
	display: inline-block;
	padding: 15px 25px;
	background-color: #fff;
	color: var(--text-back);
	text-decoration: none;
	border-radius: 5px;
	border: 1px solid #F0F0F4;
	transition: background-color 0.3s ease;
	font-weight: 600;
}

.news-banne-button:hover {
	background-color: #eee;
}
@media only screen and (max-width: $desktop) {
	.news-banner-title {
		font-size: rem(32px);
	}
}

.news-content {

	.filter-container {
		display: flex;
		justify-content: flex-end;
		column-gap: 18px;
	}

	&__items {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		
	}

	&__item {
		width: calc(33% - 30px);
		margin: 20px 0;
		&.half {
			width: calc(50% - 40px);
			margin: 40px 0;
			&:nth-child(1),
			&:nth-child(2){
				margin: 20px 0 40px;
			}

			@media only screen and (max-width: $desktop) {
				width: calc(50% - 20px);
			}
		}
	  	@media only screen and (max-width: $desktop) {
			width: calc(33% - 15px);
	
		}
	}

	&__more {
		display: block;
		text-decoration: none;
		background-color: var(--text-white);
		// margin-top: 30px;
		width: 100%;
		border: 1px solid var(--white-ligh-bg);
		border-radius: 8px;
		padding: 15px 0;
		text-align: center;
		color: var(--text-semi-gray);
		font-size: rem(16px);
		transition: ease 0.3s;
		&:hover{
			background-color: var( --text-light-white);
		}
		&::after { 
			content: url('../img/arrow-down.svg');
			display: inline-block;
			margin-left: 15px;
			vertical-align: middle;
		}
	}
	

		
}
	.news-content-link {
		color:var(--text-blue);
		font-size: rem(14px);
		transition: 0.3s ease;
		position: relative;
		text-decoration: none;
		&:before{
				content:'';
				width: 100%;
				height:1px;
				display: block;
				position: absolute;
				top:100%;
				left:50%;
				transform: translateX(-50%);
				background: var(--text-blue);
				transition: 0.3s ease;
		}
		&:hover{
				&:before{
					width:0;
				}
		}

	}
	

.news-title {
	font-size: rem(36px);
	font-family: var(--font-family) ;
	color: var(--text-dark);
	font-weight: 700;
	margin-bottom: 40px;
}





.news-content-padding {
	padding: 20px 0 0;
	.pagination {
		margin-top: 40px;
		&__items {
			display: flex;
		justify-content: center;
		gap: 2px;
		}

		&__item {
			text-decoration: none;
			font-family: var(--font-family);
			font-size: rem(16px);
			color: var(--text-semi-gray);
			font-weight: 500;
			transition: 0.3s;
		
		}

		&__link {
			text-decoration: none;
		padding: 12px 16px;
		font-family: var(--font-family);
		font-size: rem(16px);
		color: var(--text-semi-gray);
		font-weight: 500;
		transition: 0.3s;
		&:hover {
			background: var(--text-blue);
			padding: 12px 16px;
			color: var(--text-white);
			border-radius: 12px;
			font-weight: 500;
			transition: ease 0.3s;
		}
		}
}
	.active {
		background: var(--text-blue);
		padding: 12px 16px;
		color: var(--text-white);
		border-radius: 12px;
		font-weight: 500;
		transition: ease 0.3s;
	}


}

.news-content-img-link {
	display: block;
	position: relative;
	overflow: hidden;
	border-radius: 15px;
	margin-bottom: 15px;
	.news-content-img {
		width: 100%;
		height: auto;
		border-radius: 15px;
		display: block;
		transition: 0.3s ease;
		
		&:hover{
			transform: scale(1.025);
		}
	}
	
}
.half .news-content-date {
	display: none;
}
.news-content-date {
	font-size: rem(16px);
	color: var(--text-strong-gray);
	font-weight: 400;
}
.news-content-title {
	margin: 0;
	padding: 10px 0;
}
.news-content-title-link {
	line-height: 1.1em;
	text-decoration: none;
	font-weight: 600;
	font-size:rem(28px);
	color:var(--text-dark);
	transition: 0.3s ease;
	background: -webkit-gradient(linear, left top, right top, from(currentColor), to(currentColor));
   background: linear-gradient(to right, currentColor 0%, currentColor 100%);
   background-size: 0px 1px;
   background-position: 0 95%;
   -webkit-transition: background-size 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
   transition: background-size 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
   background-repeat: no-repeat;
	&:hover{
		color: var(--text-dark);
		background-size: 100% 1px;
	}
	@media only screen and (max-width: $smDesktop) {
		font-size:rem(24px);
		
	}
}


.news-content-desc {
	font-size: rem(16px);
	color: var(--text-strong-gray);
	font-weight: 400;
	margin-bottom: 10px;
	line-height: 1.5em;
}
.news-content .section_headline {
	margin-top: 60px;
	margin-bottom: 0;
}

.tags_flex{
	display: flex;
	justify-content: space-between;
	margin: 60px 0 0;
	.tags_inner{
		width:calc(100% - 310px);
		padding: 0;
		margin: 0;
		a{
			box-shadow:0 0 10px rgba(#000, 0.05);
		}
	}

	
}

.filter-container{
	width:280px;
	display: flex;
	justify-content: space-between;
	.filter-container__filter,
	.filter-container__brand{
		select,
		.nice-select{
			width:100%;
			font-weight: 600;
			color:var(--text-dark);
			font-size: rem(16px);
			box-shadow:0 0 10px rgba(#000, 0.05);
			.list{
				font-weight: 400;
				width:100%;
				font-size: rem(14px);
				
				.selected {
					font-weight: 400;
					font-size: rem(14px);
					background: #fff;
				}
				.option{
					line-height: 32px;
					min-height: 32px;
				}
			}
		}
	}
	.filter-container__filter{
		width:calc(55% - 7.5px);
		.nice-select{
			background:#fff url(../img/filter-icon.png) 10px center no-repeat;
			span{
				margin-left: 20px;
			}
		}
	}
	.filter-container__brand{
		width:calc(45% - 7.5px);
	}
	
}

.product_items.product_items-news{
	margin: 0;
}