@font-face {
	font-family: 'Intro';
	src: url('../fonts/Intro-Black.woff2') format('woff2'),
		 url('../fonts/Intro-Black.woff') format('woff'),
		 url('../fonts/Intro-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}
/*Giloroy*/
@font-face {
	font-family: 'Gilroy-MediumItalic';
	src: url('../fonts/Gilroy/Gilroy-MediumItalic.woff2') format('woff2'),
		 url('../fonts/Gilroy/Gilroy-MediumItalic.woff') format('woff'),
		 url('../fonts/Gilroy/Gilroy-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

