:root {

    /* Fonts */
    --font-family: "Exo 2", sans-serif;

    /* Media */
    $desktop : 1299px;
    $tablet : 959px;
    $smTablatet : 767px;
    $phone : 576px;
    $smPhone : 479px;

    /* Colors text */

    --text-color:#5C798B;


    /* background colors */

    --blue-bg:#0F6C8C;
}
