:root {

    /* Fonts */
    --font-family: "Exo 2", sans-serif;
	 --font-family-baner: "Intro", sans-serif;
	 --font-family-quote-desc: 'Gilroy-MediumItalic';
	 --font-family-quote-auth: 'Gilroy-MediumItalic';

    /* Colors text */

    --text-back:#000;
    --text-white:#fff;
    --text-light-white:#E1E1E1;
    --text-color:#5C798B;
    --text-gray:#D5DFE4;
    --text-light-gray:#AAB7BF;
    --text-semi-gray:#5C798B;
    --text-bold-gray:#89909D;
    --text-strong-gray:#5C798B;
    --text-dark:#212121;
    --text-red:#BB0B2B;
    --text-blue:#1B78AF;
    --text-vine:#09213D;
	  --text-black: #212121;
    --text-green:#51B602;

    /* background colors */

    --main-bg:#f5f5f5;
    --white-bg:#fff;
    --white-ligh-bg:#F2F2F2;
    --blue-bg:#0F6C8C;
    --viber-bg:#73EF12;
    --telegram-bg:#3D81FA;
    --viber-bg-hover:#59bd0d;
    --telegram-bg-hover:#225cc0;
    --lightYellow-bg:#FFBF6A;
    --orange-dark-bg:#E0A556;
    --orange-bg:#FFBF6A;
    --dark-red-bg:#CC1A1A;
    --gray-bg:#AAB7BF;
    --gray-medium-bg:#94a1a8;
    /* CTA */

    --cta-red:#BB0B2B;
    --cta-red-hover:#9b0d27;
    --serach-bg:#f5f5f5;

    --cta-white:#fff;
    --cta-white-hover:#f5f5f5;
    
    /* Line */

    --line-bg:#DBDBDB;
    --line:#C3D4DF;
  
}


/* Media */
$desktop : 1299px;
$smDesktop : 1199px;
$tablet : 959px;
$smTablatet : 767px;
$phone : 576px;
$smPhone : 479px;

$heightDesktop : 860px; // До 768
$heightTable: 767px; // До 600

/* animation */

@keyframes zoomOut {
    from {
      opacity: 1;
     
    }
    50% {
      opacity: 0;
      transform: scale3d(.95, .95, .95);
    
    }
  
    to {
      opacity: 0;
     
    }
}

@keyframes zoomIn {
    from {
      opacity: 0;
      transform: scale3d(.95, .95, .95);
     
    }
    50% {
      opacity: 1;
 
    }
}